.section {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #fff;
}
  
.title {
    font-family: "Sora", sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 48px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #000;
}
  
.button {
    display: block;
    padding: 12px;
    border: 1px solid #4169e1;
    border-radius: 8px;
    background-color: #4169e1;
    color: #fff;
    width: 156px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    margin: 48px auto 0;
}
  
.button:hover,
.button:focus {
    background-color: #e8eeff;
    color: #131f43;
}
  
.button:active {
    background-color:  #7a96ea;
}
  
@media (min-width: 768px) {
    .title {
        font-size: 44px;
    }
}
  

@media (min-width: 1440px) {
    .section {
        padding-top: 72px;
        padding-bottom: 72px;
    }
  
    .title {
        font-size: 34px;
    }
  
    .button {
        width: 173px;
        font-size: 18px;
    }
}
  