.title {
    font-family: var(--second-family);
font-weight: 700;
font-size: 32px;
line-height: 110%;
letter-spacing: -0.01em;
text-align: center;
color: var(--color-scheme-1-text);
margin-bottom: 40px;
}

.category {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--color-scheme-1-text);
}

@media (min-width: 768px) {
    .title {
font-size: 48px;
}

.category {
    display: none;
}
}


@media (min-width: 1440px) {
    .title {
font-size: 56px;
}
}