.title {
  font-size: 28px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 32px;
  margin-top: 32px;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 52px;
  }
}
@media only screen and (min-width: 1440px) {
  .title {
    font-size: 64px;
    margin-bottom: 48px;
    margin-top: 48px;
  }
}
