.container {
  padding: 32px 20px 64px;
  max-width: 375px;
  margin: 0 auto;

  background: #f7f9ff;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .title {
    font-size: 44px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    padding: 48px 64px 72px;
    max-width: 1440px;
  }

  .title {
    font-size: 52px;
  }
}
