@import url('./stylesVar.css');

:root {
  --background: var(--color-scheme-2-background);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--Color-Scheme-2-Background, #f7f9ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  max-height: 900px;
  background: var(--Color-Scheme-2-Background, #f7f9ff);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .page-container {
    max-width: 375px;
    max-height: 812px;
    padding: 16px;
  }
}

@media (max-width: 1024px) {
  .page-container {
    max-width: 768px;
    max-height: 899px;
    padding: 24px;
  }
}
*/
.container {
  min-width: 320px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
