.card {
  background: #f4f6fb;
  padding: 16px;
  border-radius: 24px;
}

.imageWrapper {
  width: 100%;
  height: 260px;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 16px;
}

.image {
  object-fit: cover;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.category {
  font-size: 14px;
  color: #78818f;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}

.text {
  color: #495057;
  font-size: 15px;
  line-height: 140%;
}

.authorBox {
  display: flex;
  align-items: center;
  gap: 6px;
}

.avatar {
  border-radius: 50%;
}

.button {
  margin-top: 12px;
  padding: 12px 24px;
  background: #eef2f7;
  border: 1px solid #cdd5df;
  border-radius: 16px;
  cursor: pointer;
}
