.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 64px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.button {
  width: fit-content;
  padding: 14px 28px;
  background: #e7ecf3;
  border: 1px solid #c5ccd7;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
}
