.stories__title {
  font-family: var(--font-sora) sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);

  margin-bottom: 24px;
}

.stories__footer {
  display: flex;
  justify-content: center;
  display: none;
}

.stories__more {
  background: #4169e1;
  border: 1px solid #4169e1;
  color: #fff;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 48px;
  font-family: var(--font-nunito-sans);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.stories__more:hover {
  background: #e8eeff;
  color: #0a0a0a;
  transform: translateY(-1px);
  box-shadow: 0 6px 12px rgba(59, 130, 246, 0.08);
  border: 1 solid #4169e1;
  
}

@media screen and (min-width: 768px) {
  .stories__title {
    font-size: 44px;
  }

  .stories__footer {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .stories__title {
    font-size: 52px;
    margin-bottom: 40px;
  }

  .stories__more {
    font-size: 18px;
  }
}