.wrap {
  padding: 32px 32px 0px;
  max-width: 375px;
  min-height: 385px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #f7f9ff;
  margin: 0px auto;
}

.photo {
  border-radius: 100%;
  width: 199px;
  margin-bottom: 24px;
}

.info {
  max-width: 311px;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
  margin-bottom: 8px;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000;
}

@media only screen and (min-width: 768px) {
  .wrap {
    padding: 32px 32px 0px;
    max-width: 768px;
    min-height: 231px;

    flex-direction: row;
  }

  .photo {
    margin-bottom: 0;
    margin-right: 24px;
  }

  .info {
    max-width: 481px;
  }

  .title {
    text-align: left;
    margin-bottom: 0;
  }

  .text {
    text-align: left;
  }
}

@media only screen and (min-width: 1440px) {
  .wrap {
    padding: 48px 64px 0px;
    min-width: 1440px;
    min-height: 247px;
    justify-content: left;
  }

  .info {
    max-width: 367px;
    min-height: 150px;
  }

  .title {
    font-size: 32px;
  }

  .text {
    font-size: 18px;
  }
}
