.wrapper {
  border-radius: 24px;
  padding: 20px;
  max-width: 335px;
  min-height: 170px;
  margin: 0 auto;
  background-color: #e8eeff;
}

.text {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 32px;
}

.button {
  border: 1px solid #4169e1;
  border-radius: 8px;
  padding: 6px 12px;
  height: 48px;
  background: #4169e1;

  display: block;
  margin: 0 auto;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  align-content: center;

  transition:
    border cubic-bezier(0.215, 0.61, 0.355, 1),
    color cubic-bezier(0.215, 0.61, 0.355, 1),
    background cubic-bezier(0.215, 0.61, 0.355, 1);
}

.button:hover,
.button:focus {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.05);
  color: #000;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    margin-left: 0;

    padding: 40px 32px;
    max-width: 533px;
  }

  .button {
    height: 48px;
    max-width: fit-content;

    margin-left: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .text {
    font-size: 26px;
    width: 363px;
  }

  .button {
    font-size: 18px;
  }
}
