/* Контейнер секції */
.section {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner {
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
}

/* Заголовок */
.title {
  font-weight: 700;
  font-family: 'Sora', sans-serif;
  font-size: 62px;
  line-height: 110%;
  text-align: center;
  margin-bottom: 32px;
}

.travellerList {
  display: grid;
  gap: 24px;

  list-style: none;
  padding: 0;
  margin: 0;

  grid-template-columns: 1fr;
}

/* Планшет: 2 колонки */
@media (min-width: 768px) {
  .travellerList {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Десктоп: 3 колонки */
@media (min-width: 1440px) {
  .travellerList {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Кнопка "Показати ще" */
.buttonLoad {
  margin: 32px auto 0;
  padding: 6px 12px;
  height: 48px;
  min-width: 163px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4169e1;
  color: white;
  border-radius: 8px;
  border: 1px solid #4169e1;
  font-size: 16px;
  cursor: pointer;

  transition:
    background cubic-bezier(0.075, 0.82, 0.165, 1),
    color cubic-bezier(0.075, 0.82, 0.165, 1),
    border cubic-bezier(0.075, 0.82, 0.165, 1);
}

.buttonLoad:hover,
.buttonLoad:focus {
  border: 1px solid var(--color-royal-blue);
  background: var(--color-royal-blue-lighter);
  color: #000;
}

.buttonLoad:active {
  border: 1px solid var(--color-royal-blue);
  background: var(--color-royal-blue-light);
  color: #000;
}
